---
import Layout from "../layouts/Layout.astro";
---

<Layout title="About | Innova Green Journal">
  <main class="max-w-6xl mx-auto px-6 py-20">
    
    <section class="grid grid-cols-1 md:grid-cols-2 gap-14 items-center">
      <div>
        <img src="/about_pic.png" alt="Plants and nature" class="w-full max-w-xl rounded-2xl "/>
      </div>

      <div>
        <h1 class="text-3xl font-semibold text-green-900 tracking-wide"> About </h1>

        <p class="text-green-900/80 leading-relaxed mb-4 mt-8" >
          Innova Green Journal is a place to explore everything about plants from
          everyday care and seasonal tips to deeper stories about growth, patience,
          and connection with nature.
        </p>

        <p class="text-green-900/80 leading-relaxed mb-4">
          Here, plant lovers from different backgrounds come together to share their
          experiences, learn from each other, and document their personal green
          journeys. Whether you are just starting your first plant or already have
          a thriving indoor jungle, you’ll find inspiration, honest advice, and real
          stories from people who care deeply about plants.
        </p>

        <p class="text-green-900/80 leading-relaxed">
          Through articles, community posts, and shared progress, Innova
          Green Journal aims to be more than a blog — it’s a growing space where
          curiosity, sustainability, and creativity meet. Follow along, connect
          with others, and watch how small green moments turn into meaningful journeys.
        </p>
      </div>

    </section>
  </main>
</Layout>
